footer{
    background-repeat: no-repeat;
    background-size: cover;
    @include sizes(auto, 220px);
    font-weight: bold;
    margin: 2px;
    text-align: left;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    >div{
        margin-right: 50px;
    }

    .redes{
        width: 25%;
        justify-self: flex-end;
    }
    
    
    .footerLogo{
        border: 1px solid black;
        @include sizes(150px, 100px);
        align-self: center;
        transform: translate(30px, 50px);
    }
}





