header{
    background-size: cover;
    font-style: italic;
    font-weight: bold;
    margin: 2px;
    @include sizes(auto, auto);
    @include bordado(0.5px solid black);
    overflow: hidden;
    display: grid;
    grid-template-areas:
        "headerTit headerTit"
        "headerL headerNav";
    
    grid-template-columns: 1fr 2fr;
    align-content:center;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

    h1{
        font-size: 350%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: underline;
        margin-bottom: 2rem;
        color: white;
    }

    .headerLogo{
        display: flex;
        flex-direction: row;
        width: 30%;
        grid-area: headerL;
        justify-self: flex-start;
    }
    
    

    .headerNav{
        grid-area: headerNav;
        justify-self: flex-end;
        transform: translate(0, -50px)
    }

    .headerTit{
        @extend h1;
        grid-area: headerTit;
        animation-iteration-count:1;
        animation-timing-function:ease;
        animation-duration: 4s;
        animation-delay: 0s;
        animation-name: mover_titulo;
    }

    .menu{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        >li{
            list-style: none;

            >a{
                text-decoration: none;
                padding: 1rem;
                margin-right: 3rem;
                line-height: 300%;
                font-size: 145%;
                transition: all 2s;
            }
            >a:hover{
                color:cyan;
                padding-bottom: 5rem;
                background-color: black;
                
            }
        }
    }
}

@keyframes mover_titulo {
    0%{transform: translate(600px, 0px);}
    50%{transform: translate(-200px, 0px);}
}

@keyframes girar_logo {
    0%{transform: rotateX(180deg);}
}