/*------------------------------MEDIA QUERIES (350 mobile 768 Tablet y 1200+ pc)--------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1275px){
    .index__seccionQueOfrecemos__of1{
        flex-wrap: wrap;
    }
    .index__seccionQueOfrecemos__of2{
        flex-wrap: wrap;
    }
    .index__seccionQueOfrecemos__of3{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 950px){
    header .headerNav{
        transform: translate(-20px, 0);
    }

    .nosotros__4{
        flex-wrap: wrap;
    }
    .nosotros__3{
        flex-wrap: wrap;
    }
    .nosotros__2{
        flex-wrap: wrap;
        padding: 0;
    }
    .nosotros__2 .nosotrosText{
        flex-basis: 75%;
    }
    .nosotros__3 .nosotrosText{
        flex-basis: 75%;
    }
    .nosotros__4 .nosotrosText{
        flex-basis: 75%;
    }
}



@media only screen and (max-width: 768px){

    footer .redes{
        width: 70%;
    }

    footer .footerMap{
        width: 90%;
        height: 70%;
    }

    footer .footerList>li>a{
        margin: 0px 10px;
        font-size: 65%;
    }

    header .headerLogo{
        width: 60%;
    }

    /*---------------------INDEX--------------------------*/

    .tituloPrincipal{
        font-size: 300%;
    }

    .tituloSecundario{
        font-size: 200%
    }


    .index__videos__bloqueInicio__vids1{
        @include sizes(100%, 200px);
        margin-bottom: 2rem;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .index__videos__bloqueInicio__vids1 .vids{
        width: 200%;
        display: flex;
        flex-direction: row;
    }

    .index__seccionQueOfrecemos__of1__im1{
        width: 100%;
    }

    .im1{
        width: 100%;
    }

    .im2{
        width: 100%;
    }

    .im3{
        width: 100%;
    }

    .ofrecemosText{
        width: 500px;
    }
    
    #queOfrecemos{
        margin-top: 20rem;
    }
    .index__seccionQueOfrecemos .ofrecemosText{
        width: 80%;
        flex-grow: 1.5;
        font-size: medium;
    }
    .index__seccionQueOfrecemos__of1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: center;
    }

    body{
        background-color: red;
    }

    /*---------------------NOSOTROS--------------------------*/

    .nosotros__1__imgMap__img{
        @include sizes(300px, 300px);
    }

    .nosotros .imgNos{
        @include sizes(350px, 350px);
    }

    .nosotrosTextP{
        padding: 0;
        margin: 2rem 3rem;
    }

    .nosotros__2 .nosotrosText{
        flex-basis: 90%;
    }
    .nosotros__3 .nosotrosText{
        flex-basis: 90%;
    }
    .nosotros__4 .nosotrosText{
        flex-basis: 90%;
    }

    /*---------------------VISITAS--------------------------*/

    .visitas__clubes1__imgs{
        @include sizes(80%, 80px);
    }
    .visitas__formul__text{
        @include margin(0 0 3rem 0);
    }
    .visitas__formul__map{
        @include sizes(100%, 200px);
        @include margin(0 0 3rem 0);
    }

    /*---------------------ESTADIOS--------------------------*/
    .imgEstadios{
        @include sizes(150px, 150px);
    }
    .estadios .vidEstadios{
        width: 100%;
    }
    .estadiosText{
        /*
        width: 220px;
        height: 220px;*/
        justify-self: center;
    }
    .estadiosMain>section>div>h3{
        font-size: medium;
    }
    
    .losMasGrandes{/*
        display: grid;
        grid-template-areas: 
            "estTxt est1 est2"
            "est3 est4 est5"
            "est6 est7 est8"
            "vidsG vidsG vidsG";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 400px 300px 300px 400px;
        gap: 0;*/
        margin-bottom: 3rem;
    }

    .vidsArtisticos1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .vidsArtisticos2{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }
    /*
    .losMasMiticos{
        display: grid;
        grid-template-areas: 
            "est1 est2 estTxt estTxt"
            "est3 est4 est5 est6"
            "vidsM1 vidsM1 vidsM1 vidsM1"
            "vidsM2 vidsM2 vidsM2 vidsM2";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 400px 300px 400px 400px;
    }*/

    .vidsMiticos2{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }


    
}

@media only screen and (max-width: 350px) {

    body{
        background-color: blue;
        padding: 0;
        margin: 0;
        overflow-x:auto;
    }

    .redes{
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .redes > a{
        padding: 0;
    }

    .footerText{
        font-size: x-small;
    }

    footer .footerMap{
        width: 100px;
    }

    footer .footerLogo{
        width: 100%;
    }

    header .headerLogo{
        width: 80%;
    }

/*---------------------INDEX--------------------------*/
    
    .textoPpal{
        font-size: medium;
    }
    .index__seccionQueOfrecemos .im1 {
        width: 100%;
        transform: translate(0px, 150px);
    }
    .index__seccionQueOfrecemos .im2 {
        width: 100%;
        transform: translate(0, 150px);
    }
    .index__seccionQueOfrecemos .im3 {
        width: 100%;
        transform: translate(0px, 150px);
    }

    .index{
        justify-content: center;
        text-align: center;
    }

    .im1{
        width: 1000%;
        transform: translate(0px, -140px);
    }
    .im2{
        width: 1000%;
        transform: translate(16px, -90px);
    }
    .im3{
        width: 1000%;
        transform: translate(0px, -170px);
    }

    #queOfrecemos{
        margin-top: 0;
    }

    .index__seccionQueOfrecemos #queOfrecemos {
        margin-bottom: 0; 
        transform: translate(0, 70px);
    }

    .ofrecemosText{
        transform: translate(0, 120px);
        font-size: small;
        margin-top: 4rem;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }


    /*---------------------NOSOTROS--------------------------*/

    .nosotros__1__imgMap{
        display: flex;
        flex-flow: column nowrap;
    }

    .nosotros__1__imgMap__img{
        @include sizes(200px, 200px);
    }

    .nosotros .imgNos{
        @include sizes(150px, 150px);
    }

    .nosotros__2{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .nosotrosTextP{
        margin: 0 10px;
    }

    .nosotros__2 .nosotrosText{
        flex-basis: 100%;
        font-size: small;
    }
    .nosotros__3 .nosotrosText{
        flex-basis: 100%;
        font-size: small;
    }
    .nosotros__4 .nosotrosText{
        flex-basis: 100%;
        font-size: small;
    }

    /*---------------------VISITAS--------------------------*/

    .visitas__clubes1__imgs{
        @include sizes(61px, 61px);
    }
    .visitas__formul__text{
        @include margin(0 0 3rem 0);
    }
    .visitas__formul__map{
        @include sizes(100%, 200px);
        @include margin(0 0 3rem 0);
    }
    .tituloSecundario{
        @include fuente(200%);
    }
    form{
        @include sizes(300px, 100%);
    }
    .formul{
        @include margin(0 0 3rem 0);
    }
    .footerLogo{
        @include transform(translate(0,0));
    }

    .visitas{
        @include visitas(grid, "formu" "clubesV1" "clubesV2", 80% 10% 10%, 1fr, space-evenly);
    }
    .visitas__clubes1{
        @include visitasClubes(clubesV1, flex, row, wrap, space-evenly, center);
        @include margin(3rem 0 0 0);
    }
    .visitas__clubes2{
        @include visitasClubes(clubesV2, flex, row, wrap, space-evenly, center);
    }
    header .menu >li > a{
        @include fuente(small);
        @include padding(1px);
        @include margin(0);
    }

    .menu{
        @include flexflow(column, wrap);
    }

    .formVis{
        height: 1100px;
    }

    /*---------------------ESTADIOS--------------------------*/

    header{
        margin: 1px;
        padding: 0px;
    }
    main{
        margin: 1px;
        padding: 0px;
    }
    footer{
        margin: 1px;
        padding: 0px;
    }
    .tituloPrincipal{
        font-size: 300%;
        width: 100%;
    }
    .estadiosText{
        justify-self: center;
        align-self: flex-start;
    }
    .estadiosParrafo{
        font-size: small;
    }
    .estadiosMain>section>div>h3{
        font-size: small;
    }
    
    .losMasGrandes{
        display: grid;
        grid-template-areas: 
            "estTxt estTxt"
            "est1 est2"
            "est3 est4"
            "est5 est6"
            "est7 est8"
            "vidsG vidsG";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 250px 250px 250px 250px 400px;
        justify-content: center;
        align-items: center;
    }

    .vidsGrandes{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .losMasArtisticos{
        display: grid;
        grid-template-areas: 
            "estTxt estTxt"
            "est1 est2"
            "est3 est4"
            "est5 est6"
            "vidsA1 vidsA1"
            "vidsA2 vidsA2";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px repeat(3, 250px) repeat(2, 580px);
        justify-content: center;
        align-items: center;
    }
    .vidsArtisticos1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .losMasMiticos{
        display: grid;
        grid-template-areas: 
            "estTxt estTxt"
            "est1 est2"
            "est3 est4"
            "est5 est6"
            "vidsM1 vidsM1"
            "vidsM2 vidsM2";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px repeat(3, 250px) 300px 600px;
        justify-content: center;
        align-items: center;
    }

    .artisticosText{
        transform: translate(0px, -270px);
    }

    .moverArtistico{
        transform: translate(0px, 230px);
    }

    .miticosText{
        transform: translate(0px, -810px);
    }

    .moverMitico{
        transform: translate(0px, 250px);
    }
    
    .bordadoRedes{
        @include bordado(0.5px solid black);
    }


    
    .menu>li>a{
        text-decoration: none;
        padding: 0;
        margin: 2rem;
        line-height: 300%;
        font-size: 100%;
    }


    
}
