* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0;
    text-align: center;
    box-sizing: border-box;

    body{
        background-color: black;
        display: grid;
        grid-template-rows: 350px auto 200px;
        align-content: center;
        justify-items: stretch;
        overflow-x:hidden;
    }
}

