@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Roboto:ital@1&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0;
    text-align: center;
}

body{
    background-color: black;
    display: grid;
    grid-template-rows: 350px auto 200px;
    align-content: center;
    justify-items: stretch;
}


.logoNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.menu>li{
    list-style: none;
}

.menu>li>a{
    text-decoration: none;
    padding: 1rem;
    margin-right: 3rem;
    line-height: 300%;
    font-size: 145%;
    transition: all 2s;
}

.menu li a:hover{
    color:cyan;
    padding-bottom: 5rem;
    background-color: black;
    
}

.submenu{
    position: absolute;
    background: cyan;
    width: 100%;
    display: none;
}

.submenu li a{
    display: block;
    padding: 1rem;
    color: cyan;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

.menu li:hover .submenu{
    display: block;
}

.headerLogo{
    font-size: 30px;
    width: 150px;
    height: 100px;
    border: 2px solid black;
    font-style: normal;
    grid-area: headerLogo;
}

.headerLogo:hover{
    animation-name: girar_logo;
    animation-iteration-count:1;
    animation-timing-function:ease;
    animation-duration: 4s;
    animation-delay: 0s;
}
@keyframes girar_logo {
    0%{transform: rotateX(180deg);}
}

.headerNav{
    grid-area: headerNav;
}

.navBar{
}


header{
    background-image: linear-gradient(to left, #2e65ee, #2ec5ee);
    background-size: cover;
    font-style: italic;
    font-weight: bold;
    padding: 1rem;
    margin: 2px;
    display: grid;
    grid-template-areas:
        "headerTit headerTit headerTit headerTit headerTit"
        "headerLogo headerNav headerNav headerNav headerNav";
    
    grid-template-rows: 1fr 2fr;
    grid-template-columns: repeat(5, 1fr);
    align-content:center;
    justify-content: space-evenly;
    justify-items: stretch;
    align-items: center;
}

.headerTit{
    grid-area: headerTit;
    animation-name: mover_titulo;
    animation-iteration-count:1;
    animation-timing-function:ease;
    animation-duration: 4s;
    animation-delay: 0s;
}

@keyframes mover_titulo {
    0%{transform: translate(600px, 0px);}
    50%{transform: translate(-200px, 0px);}
}

header h1{
    font-size: 350%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    margin-bottom: 2rem;
    color: white;
}

.bordadoBoke{
    background-color: white;
    border: 2px solid black;
    border-radius: 1rem;
}

.centrado{
    text-align: center;
}

main {
    background-image: linear-gradient(to top, #8bb9ec, #8be9ec);
    padding: 5px;
    margin: 2px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

main section p{
    color: black;
}

.tituloPrincipal{
    font-size: 550%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2rem;
}

.tituloSecundario{
    font-size: 300%;
    font-family: 'Open Sans', sans-serif;
}

.tituloTerciario{
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}




.bloqueInicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.botonArriba{
    border: 2px solid black;
    float: inline-start;
}
            
.botonAbajo{
    border: 2px solid black;
    float:inline-end;
}

.videos1Index{
    background-color: black;
    width: 20%;
    height: 500px;
    overflow: auto;
    margin-top: 2rem;
    padding: 0.5rem;
}

.vids{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.primero{
    order: 1;
}
.segundo{
    order: 2;
}
.tercero{
    order: 3;
}
.cuarto{
    order: 4;
}

.videos2Index{
    background-color:black;
    width: 20%;
    height: 500px;
    overflow: auto;
    margin-top: 2rem;
    padding: 0.5rem;
}




.vidsIndex{
    width: 100%;
    height: 100%;
}

.videos{
    position: relative;
    height: 600px;
    margin: 4rem 2px;
    /*
    background-image: url("../assets/campNou.jpg");
    background-position: center;
    animation-name: cambio_canchas;
    animation-iteration-count: infinite;
    animation-timing-function:ease-out;
    animation-duration: 40s;
    animation-delay: 0s;*/
}

/*

@keyframes cambio_canchas{
    0%{background-image: url("../assets/campNou.jpg");}
    20%{background-image: url("../assets/maradona.jpg");}
    40%{background-image: url("../assets/anfield.jpg");}
    60%{background-image: url("../assets/idunaPark.jpg");}
    80%{background-image: url("../assets/wembley.jpg");}
}*/

.seccionQueOfrecemos>div{
    background-size: cover;
    background-position: bottom;
    margin-bottom: 100px;
    
}

#queOfrecemos{
    margin-bottom: 3rem;
}

.ofrecemos1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    animation-name: aparecer;
    animation-duration: 2s;
}

.ofrecemos2{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    animation-name: aparecer;
    animation-duration: 2s;
}

.ofrecemos3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    animation-name: aparecer;
    animation-duration: 2s;
}

@keyframes aparecer{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.ofrecemosText{
    width: 35%;
    flex-basis: 45%;
    flex-grow: 2;
}



.img1{
    width: 750px;
}

.img2{
    width: 750px;
    transform: translate(-20px, 0px);
}

.img3{
    width: 750px;
}

footer{
    background-image: linear-gradient(to right, #2e65ee, #2ec5ee);
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    font-weight: bold;
    padding: 5px;
    margin: 2px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr . 1fr;
}


footer nav ul li{
    list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif");
    list-style-position:inside;
    font-style: italic;
    line-height: 200%;
}

.redes{
    width: 20%;
    align-self: flex-end;
    justify-self: flex-end;
}

.footerLogo{
    border: 2px solid black;
    font-size: 30px;
    width: 150px;
    height: 100px;
    display: inline-block;
    flex-grow: 0;
    align-self: center;
    transform: translate(30px, 50px);
}



.footerNav{
    flex-basis: 20%;
    display: flex;
    align-items: flex-end;
}

footer>div{
    margin-right: 50px;
}

footer>div>nav>ul>li{
    display: block;
    margin-bottom: 1rem;
}

footer>div>nav>ul>li>a{
    margin-bottom: 1rem;
    color: black;
    text-decoration: none;
}

.navF{
    display: flex;
    flex-direction: row;
}



.bordadoFooter{
    background-color:cyan;
    border: 2px solid black;
    border-radius: 1rem;
}

.bordadoRedes{
    border: 2px solid #021212;
    border-radius: 2rem;
    width: 20%;
}

.youtube{
    width: 27%;
}

.subrayado{
    text-decoration: underline;
}



.negrita{
    font-weight: bold;
}


/*Paleta de colores (sacados de coolors.co)*/

.azulFluorecente{
    color: cyan;
}

.ricoNegro{
    color: black;
}

.esmeralda{
    color: #3cbb6d;
}

.blanco{
    color: white;
}

.color-1 {color: #8be9ec;}
.color-2 {color: #8bb9ec;}
.color-3 {color: #2ec5ee;}
.color-4 {color: #2e65ee;}

/*------------------------------FORMULARIOS-------------------------------------------*/

.formul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

textarea{
    resize: none;
}

form{
    border-radius: 1rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
}

form>div{
    margin-bottom: 2rem;
}
.nombre{
    margin-top: 1rem;
}

.inputText{
    border: 1px solid black;
    transition: width 2s, font-size 2s;
}
.inputText:focus{
    width: 200px;
    font-size: 24px;
    border: 3px solid cyan;
}

.inputBoton{
    width: 110px;
}
.inputBoton:focus{
    background-color: #2ec5ee;
}

/*------------------------------PAGINA NOSOTROS-------------------------------------------*/
.mainNosotros{
    display: flex;
}

.mainNosotros>section{
    margin-bottom: 5rem;
}

.imgNosotros{
    width: 400px;
    height: 400px;
    border: 2px solid black;
}

.mapNosotros{
    width: 400px;
    height: 400px;
    border: 2px solid black;
}

.imgMap{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.nosotros1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.nosotros2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.nosotros3{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
}
.nosotros4{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.nosotrosText{
    flex-basis: 100%;
}

.imgNos{
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

/*------------------------------PAGINA VISITAS-------------------------------------------*/

.mapVisitas{
    width: 80%;
    border: 1px solid black;
    height: 300px;
}

.visitasText{
    width: 55%;
}

.imgVisitas{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin: 1rem 0;
}

.formul{
    grid-area: formu;
}
.clubesVis1{
    grid-area: clubesV1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.clubesVis2{
    grid-area: clubesV2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mainVisitas{
    display: grid;
    grid-template-areas: "clubesV1 formu clubesV2";
    grid-template-columns: 15% 70% 15%;
    justify-content: space-evenly;
}

/*------------------------------PAGINA ESTADIOS-------------------------------------------*/


.losMasGrandes{
    border-top: 4px solid black;
    /*
    display: grid;
    grid-template-areas: 
        "estTxt estTxt est1 est2 est3"
        "est4 est5 est6 est7 est8"
        "vidsG vidsG vidsG vidsG vidsG";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 400px 300px 400px;
    align-items: center;
    margin-bottom: 5rem;*/
}

.vidsGrandes{
    grid-area: vidsG;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.losMasArtisticos{
    border-top: 4px solid black;
    /*
    display: grid;
    grid-template-areas: 
        "est1 estTxt estTxt est2"
        "est3 est4 est5 est6"
        "vidsA1 vidsA1 vidsA1 vidsA1"
        "vidsA2 vidsA2 vidsA2 vidsA2";

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px 300px 400px 400px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;*/
}

.vidsArtisticos1{
    grid-area: vidsA1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.vidsArtisticos2{
    grid-area: vidsA2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.losMasMiticos{
    border-top: 4px solid black;
    /*
    display: grid;
    grid-template-areas: 
        "est1 est2 est3 estTxt estTxt"
        "est4 est5 est6 vidsM1 vidsM1"
        "vidsM2 vidsM2 vidsM2 vidsM2 vidsM2";
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 400px 400px 400px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    */
}

.vidsMiticos1{
    grid-area: vidsM1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.vidsMiticos2{
    grid-area: vidsM2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgEstadios{
    width: 220px;
    height: 220px;
    border: 1px solid black;
}

.estadiosText:hover{
    transform: scale(40px, 40px);
}

.vidEstadios{
    width: 350px;
    height: 300px;
    border: 1px solid black;
}

.estadiosText{
    grid-area: estTxt;
    
}

.estadio1{
    grid-area: est1;
}
.estadio2{
    grid-area: est2;
}
.estadio3{
    grid-area: est3;
}
.estadio4{
    grid-area: est4;
}
.estadio5{
    grid-area: est5;
}
.estadio6{
    grid-area: est6;
}
.estadio7{
    grid-area: est7;
}
.estadio8{
    grid-area: est8;
}

/*------------------------------MEDIA QUERIES (350 mobile 768 Tablet y 1200+ pc)--------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 768px){
    /*---------------------INDEX--------------------------*/
    .textoPpal{
        font-size: medium;
    }
    .img1{
        width: 60%;
    }
    .img2{
        width: 700px;
    }

    .ofrecemosText{
        flex-grow: 1.5;
        font-size: medium;
    }
    .ofrecemos1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: center;
    }

    /*---------------------VISITAS--------------------------*/

    .imgVisitas{
        width: 80px;
        height: 80px;
    }
    .visitasText{
        width: 80%;
        margin-bottom: 3rem;
    }
    .mapVisitas{
        height: 200px;
        margin-bottom: 3rem;
    }

    /*---------------------ESTADIOS--------------------------*/
    .imgEstadios{
        width: 150px;
        height: 150px;
    }
    .vidEstadios{
        width: 250px;
        height: 200px;
    }
    .estadiosText{
        /*
        width: 220px;
        height: 220px;*/
        justify-self: center;
    }
    .estadiosMain>section>div>h3{
        font-size: medium;
    }
    
    .losMasGrandes{/*
        display: grid;
        grid-template-areas: 
            "estTxt est1 est2"
            "est3 est4 est5"
            "est6 est7 est8"
            "vidsG vidsG vidsG";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 400px 300px 300px 400px;
        gap: 0;*/
        margin-bottom: 3rem;
    }

    .vidsArtisticos1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .vidsArtisticos2{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }
    /*
    .losMasMiticos{
        display: grid;
        grid-template-areas: 
            "est1 est2 estTxt estTxt"
            "est3 est4 est5 est6"
            "vidsM1 vidsM1 vidsM1 vidsM1"
            "vidsM2 vidsM2 vidsM2 vidsM2";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 400px 300px 400px 400px;
    }*/

    .vidsMiticos2{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }
    .redes{
        width: 50%;
        align-self: flex-start;
    }


    
}

@media only screen and (max-width: 350px) {

/*---------------------INDEX--------------------------*/
    
    .textoPpal{
        font-size: small;
    }
    .img1{
        width: 60%;
    }
    .img2{
        width: 700px;
    }

    .ofrecemosText{
        flex-grow: 0;
        font-size: medium;
    }
    .ofrecemos1{
    }

    /*---------------------VISITAS--------------------------*/

    .imgVisitas{
        width: 61px;
        height: 61px;
    }
    .visitasText{
        width: 90%;
        margin-bottom: 3rem;
    }
    .mapVisitas{
        height: 200px;
        margin-bottom: 3rem;
    }
    .tituloSecundario{
        font-size: 200%;
        width: 120%;
    }
    form{
        width: 300px;
    }
    .formul{
        margin-bottom: 3rem;
    }
    .footerLogo{
        transform: translate(0,0);
    }

    .mainVisitas{
        display: grid;
        grid-template-areas: 
            "formu"
            "clubesV1"
            "clubesV2";
        grid-template-rows: 80% 10% 10%;
        grid-template-columns: 1fr;
        justify-content: space-evenly;
    }
    .clubesVis1{
        grid-area: clubesV1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .clubesVis2{
        grid-area: clubesV2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    /*---------------------ESTADIOS--------------------------*/

    header{
        margin: 5px;
    }
    main{
        margin: 5px;
    }
    footer{
        margin: 5px;
    }
    .tituloPrincipal{
        font-size: 300%;
        width: 100%;
    }

    .imgEstadios{
        width: 100px;
        height: 100px;
    }
    .vidEstadios{
        width: 200px;
        height: 180px;
    }
    .estadiosText{
        width: 220px;
        height: 160px;
        justify-self: center;
        align-self: flex-start;
    }
    .estadiosMain>section>div>h3{
        font-size: small;
    }
    
    .losMasGrandes{
        display: grid;
        grid-template-areas: 
            "estTxt estTxt"
            "est1 est2"
            "est3 est4"
            "est5 est6"
            "est7 est8"
            "vidsG vidsG";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 250px 250px 250px 250px 400px;
        justify-content: center;
        align-items: center;
    }

    .vidsGrandes{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .losMasArtisticos{
        display: grid;
        grid-template-areas: 
            "estTxt estTxt"
            "est1 est2"
            "est3 est4"
            "est5 est6"
            "vidsA1 vidsA1"
            "vidsA2 vidsA2";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px repeat(3, 250px) repeat(2, 580px);
        justify-content: center;
        align-items: center;
    }
    .vidsArtisticos1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .losMasMiticos{
        display: grid;
        grid-template-areas: 
            "estTxt estTxt"
            "est1 est2"
            "est3 est4"
            "est5 est6"
            "vidsM1 vidsM1"
            "vidsM2 vidsM2";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px repeat(3, 250px) 300px 600px;
        justify-content: center;
        align-items: center;
    }

    .redes{
        width: 60%;
    }
    .footerNav{
        width: 20%;
    }
    .menu>li>a{
        text-decoration: none;
        padding: 0;
        margin: 2rem;
        line-height: 300%;
        font-size: 100%;
    }


    
}